body {
    background-image: url(../images/maxresdefault.jpg)
}

.jumbotron {
    background-color: rgb(132,140,146, 0.7)
}

h3 {
    color: #ffffff;
}

.img-thumbnail {
    width: 20%;
    height: 20%;
}

#bodyInput {
    width: 100%;
    height: 100px;
    
}

#titleInput {
    width: 100%;
    margin-bottom: 7px;
    border: solid black 1px;
}

.modalButton {
    margin-left: 15px;
}
